/*FONTS*/

	/*latin LATO 400*/
	@font-face {
		font-family: 'Lato';
		font-style: normal;
		font-weight: 400;
		src: local('Lato Regular'), local('Lato-Regular'), url(assets/fonts/Lato-Regular.ttf) format('truetype');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
		}
	
		/*latin LATO 700*/
	@font-face {
		font-family: 'Lato';
		font-style: normal;
		font-weight: 700;
		src: local('Lato Bold'), local('Lato-Bold'), url(assets/fonts/Lato-Bold.ttf) format('truetype');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
		}
	
		/*latin LATO 900 */
	@font-face {
		font-family: 'Lato';
		font-style: normal;
		font-weight: 900;
		src: local('Lato Black'), local('Lato-Black'), url(assets/fonts/Lato-Black.ttf) format('truetype');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
		}
	
		/*latin MAVEN PRO 400*/
	@font-face {
		font-family: 'Maven Pro';
		font-style: normal;
		font-weight: 400;
		src: local('Maven Pro Regular'), local('MavenPro-Regular'), url(assets/fonts/MavenPro-Regular.ttf) format('truetype');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
		}
	




	/*HEADER*/
	header{
		height: 63px;
		width: 100%;
		background-color: #323232;
		font-family: 'Lato', sans-serif;
		font-size: 10px;
		font-weight: 700;
		text-transform: uppercase;
	
	}
	
	header>div{
		box-sizing: content-box;
		margin: 0 auto;
		max-width: 468px;
		width: auto;
		height: 63px;
		padding-left: 47px;
	}
	
	header::after{
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 28px 46.5px 0 46.5px;
		border-color: #323232 transparent transparent transparent;
		content: "";
		position: absolute;
		top: 63px;
		left:50%;
		transform: translateX(-50%);
	}

	header::before{
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 57px 88.5px 0 88.5px;
		border-color: #fff transparent transparent transparent;
		content: "";
		position: absolute;
		top: 63px;
		left:50%;
		transform: translateX(-50%);
	}
	
	header a{
		color: #fff;
		text-decoration: none;
	}

	header #left a{
		margin-left: 24px;
	}

	header #right a{
		margin-right: 24px;
	}
	
	header a:hover{
		color: #2eb398;
	}
	
	header a[href='#portfolio']{
		color: #2eb398;
		pointer-events: none;
	}
	
	#left{
		height: 100%;
		width: 165px;
		display: inline-block;
		padding-right: 10px;
		position: relative;
		bottom: 25px;
	}
	
	#left :not(:first-child)::before{
		content: '\2022';
		color: #484c5f;
		font-size: 6px;
		position: relative;
		right: 13px;
		bottom: 1.5px;
		margin-right: -4px;
	}
	#right :not(:first-child)::before{
		content: '\2022';
		color: #484c5f;
		font-size: 6px;
		position: relative;
		right: 13px;
		bottom: 1.5px;
		margin-left: -4px;
	}

	#right{
		height: 100%;
		width: 165px;
		display: inline-block;
		padding-left: 37px;
		position: relative;
		bottom: 25px;
	}
	
	#logo{
		display: inline-block;
		margin-top: 12px;
	}

	/*PORTFOLIO section*/
	#portfolio{
		overflow: hidden;
			text-align: center;
			z-index: -1;
			width: 100%;
			height: auto;
			max-height: 720px;
			box-sizing: border-box;
	}
	
	#portfolio:first-child{
		border-top: 1px solid #e4e9eb;
		border-bottom: 1px solid #e4e9eb;
		width: 90%;
		max-width: 978px;
		margin:  11px auto;
		padding-top: 80px;
		box-sizing: border-box;
	}

	.row{
		width: 100%;
			display: grid;
			grid-auto-columns: 18%;
			grid-auto-flow: column;
			justify-content: center;
			justify-items: center;
			margin: -4.4%  auto 0 auto;
			grid-gap: 2.5%;
			position: relative;
		
	}
	
	#portfolio .content .row:first-child{
		margin-top: 0;
	}

	
	#portfolio .content .row:nth-child(odd)::before{
		border-right: 1px solid #e4e9eb;
		content: "";
		width: 100%;
		height: 50%;
		margin: 29% 0;
	}

	#portfolio .content .row:nth-child(odd)::after{
		border-left: 1px solid #e4e9eb;
		content: "";
		width: 100%;
		height: 50%;
		margin: 29% 0;
	}
 
	/*Hexagon pictures for Chrome, Firefox, Opera*/
	@supports(-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) or (clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) {
		.hex{
			object-fit: cover;
			position: relative;
			clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 6% 75%, 6% 26%);
			-webkit-clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 6% 75%, 6% 26%);
			margin: 0 -13px; 
		}

		.pic-portfolio{
			width: 116%
		}

		.portrait{
			float: left;
			margin-right: 3px;
			width: 206px;
		}
	
	}
	
	/*Hexagon pictures for Edge*/
	@supports (not (clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%))) {
	
		.hex-for-edge {
			height: 208px;
			width: 178px;
			position: relative;
			overflow: hidden;
			margin: 2px auto;
			border-radius: 90px/58px;
		  }

		  .hex-for-edge::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
			height: 0;
			border-left: 6vw solid #fff;
			border-right: 6vw solid #fff;
			border-bottom: 3.5vw solid transparent;
			z-index: 1;
			
		  }
		  
		  .hex-for-edge::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0;
			height: 0;
			border-left: 6vw solid #fff;
			border-right: 6vw solid #fff;
			border-top: 3.5vw solid transparent;
		  }
		
		  
		.hex-for-edge img{
			height: 208px;
			width: 178px;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}

		  .hex-for-edge-2::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 0;
				height: 0;
				border-left: 6vw solid #2eb398;
				border-right: 6vw solid #2eb398;
				border-bottom: 3.5vw solid transparent;
				z-index: 1;
		  }
		  
		  .hex-for-edge-2::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 0;
				height: 0;
				border-left: 6vw solid #2eb398;
				border-right: 6vw solid #2eb398;
				border-top: 3.5vw solid transparent;
		  }

		  .hex-for-edge-2 {
			height: 208px;
			width: 178px;
			position: relative;
			overflow: hidden;
			float: left;
			margin-right: 16px;		
		  }

		  .hex-for-edge-2 img{
			height: 208px;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 206px;
		}	
	}

	.slider{
		margin-top: 44px;
		margin-bottom: 8px;
		margin-left: 8px;
		float: left;
	}

	.slider input{
		width: 6px;
		height: 6px;
		appearance: none;
		-webkit-appearance: none;
		background: #ddd2c5;
		outline: none;
		cursor: pointer;
	}

	.slider input:checked, .slider input:hover{
		appearance: none;
		-webkit-appearance: none;
		background: #8b8784;
	}
	

	/*ABOUT ME section*/
	#about-me{
		background-color: #2eb398;
		height: 20%;
		min-height: 341px;
		width: 100%;
		box-sizing: border-box;
		padding: 12px 0;
	}
	
	#about-me .content{
		box-sizing: border-box;
		border-left: 1px solid #219d84;
		border-right: 1px solid #219d84;
		width: 90%;
		height: auto;
		min-height: 316px;
		max-width: 824px;
		
		margin: 0 auto;
		padding: 56px 21px ;
	}

	h2, h1{
		font-size: 30px;
		font-weight: 400;
		font-family: 'Maven Pro', sans-serif;
	}

	h1{
		color: #d7fcf5;
		margin-top: -7px;
	}
	
	h3{
		font-weight: 400;
		font-size: 18px;
		font-family: 'Maven Pro', sans-serif;
		
		
	}
	#about-me h3{
		color:	#20816d;
		margin-bottom: 10px;
	}
	
	p{
		line-height: 1.8;
		font-size: 12px;
		font-family: 'Lato', sans-serif;
		color:	#d7fcf5;
		-webkit-hyphens: auto;
		-ms-hyphens: auto;
		-moz-hyphens: auto;
		hyphens: auto;
		text-align: justify;
	}


	main{
		width: 100%;
	}
	
	
	#media{
		margin-top: 39px;
		height: 29px;
		float: right;
		display: block;
		margin-right: 3px;
	}
	
	#media a{
		margin: -2px;
		display: inline-block;	
	}
	#media a img{
		width: inherit;
	}
	
	#media a img:hover, #media a img:active{
	
		transform: scale(1.2);
	}
	
	
	/*FOOTER*/

	/*CONTACTS block*/
	#contacts{
		background-color: #323232;	
		padding: 14px 30px;
	}

	#contacts>div{
		box-sizing: border-box;
		border-top: 1px solid #222222;
		border-bottom: 1px solid #222222;
		
		height: auto;
		min-height: 538px;
	}
	
	#contacts>div .content{
		box-sizing: border-box;
		width: 90%;
		max-width: 824px;
		margin: 42px auto;
		padding: 0 21px;
	}

	#contacts h2{
		color: #fff;
	}

	#contacts h3{
		color: #bebebe;
		margin-bottom: 20px;
	}
	
	#contact-form{

		float: left;
		margin-right: 20px;
		max-width: 587px;
		width: 74.5%;
		
	}
	
	textarea{
		display: block;
		width: 100%;
		padding-top: 13px;
		text-indent: 14px;
		resize: none;
		background-color: #454545;
		border: none;
		font-family: Lato, sans-serif;
		font-weight: 400;
		font-size: 12px;
		color: #bebebe;
		height: 138px;
	}
	
	#contact-form input{
		width: 100%;
		display: block;
		text-indent: 14px;
		font-size: 12px;
		font-family: Lato, sans-serif;
		font-weight: 400;
		background-color: #454545;
		border: none;
		color: #bebebe;
		height: 37px;
		margin-bottom: 17px;
	}
	
	#contact-form button{
		float: right;
		margin-top: 17px;
		border: none;
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
		width: 90px;
		height: 36px;
		color: #d7fcf5;
		font-family: Lato, sans-serif;
		background-color: #2eb398;
	}
	
	#contact-form button:hover, button:active{
		outline: none;
		background-color: #454545;
	}
	
	
	#contact-form input:focus, textarea:focus{
		outline: 1px solid #fff;
	}

	#contacts b{
		color: #fff;
		font-weight: 900;
	}
	
	#contacts p{
		margin-top: -6px;
		color: #bebebe;
	}
	
	#other-contacts{
		margin-top: 36px;
		font-family: Lato, sans-serif;
		font-weight: 700;
		font-size: 12px;
		color: #bebebe;
	}
	
	#other-contacts a{
		margin-top: 6px;
		display: block;
		color: #bebebe;
		text-decoration: none;
		
	}
	
	#other-contacts a:hover{
		color: #2eb398;
	}
	
	#other-contacts img{
		height: 12px;
		margin-left: -3px;
		vertical-align: middle;
		margin-right: 8px;
	}

	#other-contacts span{
		vertical-align: middle;
	}
	
	/*COPYRIGHT block*/
	#copyright{
		box-sizing: border-box;
		height: 43px;
		background-color: #222222;
		padding-top: 10px;
	}

	#copyright p{
		color: #454545;
		font-size: 12px;
		font-family: 'Maven Pro', sans-serif;
		max-width: 943px;
		width: 90%;
		margin: 0 auto;
		
	}